[Unit]
Description=The acme-register container
Requires=step-ca.service 
After=step-ca.service 

[Container]
ContainerName=demo.openchami.cluster
HostName=demo.openchami.cluster
Image=docker.io/neilpang/acme.sh:3.1.1

# Volumes
Volume=step-root-ca.volume:/root_ca/:ro
Volume=acme-certs:/acme.sh:z

# Networks for the Container to use
Network=openchami-cert-internal.network

Exec=--issue \
  --ca-bundle /root_ca/root_ca.crt \
  --server https://step-ca:9000/acme/acme/directory \
  --home /acme.sh \
  -d demo.openchami.cluster \
  --standalone \
  --force

[Service]
Restart=on-failure
Type=oneshot
RemainAfterExit=yes