[Unit]
Description=The boot-service container
PartOf=openchami.target

# Ensure SMD has started already
Wants=smd.service tokensmith.service
After=smd.service tokensmith.service
Requires=tokensmith.service

[Container]
ContainerName=boot-service
HostName=boot-service
Image=boot-service:test

# Environment Variables
EnvironmentFile=/etc/openchami/configs/openchami.env

# Secrets
Secret=boot-service-bootstrap-token,type=env,target=TOKENSMITH_BOOTSTRAP_TOKEN

# Networks for the Container to use
Network=openchami-internal.network

# Proxy settings
PodmanArgs=--http-proxy=false

Exec=serve --enable-auth --tokensmith_url=http://tokensmith:8080 --hsm-url=http://smd:27779 --tokensmith-target-service smd

[Service]
ExecStartPre=/usr/sbin/tokensmith_bootstrap_token boot-service
Restart=always
