[Unit]
Description=The metadata-service container
Wants=smd.service
After=smd.service tokensmith.service
PartOf=openchami.target

[Container]
ContainerName=metadata-service
HostName=metadata-service
Image=metadata-service:test

Secret=metadata-service-bootstrap-token,type=env,target=TOKENSMITH_BOOTSTRAP_TOKEN

# Environment Variables
EnvironmentFile=/etc/openchami/configs/openchami.env

Exec=serve --tokensmith-url=http://tokensmith:8080

# Networks for the Container to use
Network=openchami-internal.network

# Proxy settings
PodmanArgs=--http-proxy=false

[Service]
ExecStartPre=/usr/local/sbin/tokensmith_bootstrap_token.sh metadata-service
Restart=always