[Unit]
Description=The tokensmith container
PartOf=openchami.target

[Container]
ContainerName=tokensmith
HostName=tokensmith
Image=ghcr.io/openchami/tokensmith:v0.4.0

EnvironmentFile=/etc/openchami/configs/openchami.env

Exec=serve --oidc-issuer="$TOKENSMITH_OIDC_PROVIDER" --issuer="$TOKENSMITH_ISSUER" --port="$TOKENSMITH_PORT" --cluster-id="$TOKENSMITH_CLUSTER_ID" --openchami-id="$TOKENSMITH_OPENCHAMI_ID" --config="$TOKENSMITH_CONFIG" --key-dir="$TOKENSMITH_KEY_DIR" --rfc8693-bootstrap-store="$TOKENSMITH_RFC8693_BOOTSTRAP_STORE" --rfc8693-refresh-store="$TOKENSMITH_RFC8693_REFRESH_STORE" --enable-local-user-mint

# Volumes
Volume=/etc/openchami/tokensmith/config.json:/tokensmith/config.json:Z


# Networks for the Container to use
Network=openchami-internal.network
Network=openchami-jwt-internal.network

# Extra hosts
PodmanArgs=--add-host='demo.openchami.cluster:172.16.0.254'
# Proxy settings
PodmanArgs=--http-proxy=false

[Service]
Restart=always